/JuceLibraryCode
*.zip
*.exe
*.dll
*.sdf
*.obj
*.lib
*.pdb
*.log
*.tlog
*.idb
*.res
*.rc
*.exp
build
jmiditrigger/Builds/CodeBlocksWindows
jmiditrigger/Builds/VisualStudio2022/x64
jmiditrigger/Builds/VisualStudio2022/.vs
alt
Reaper
Projucer/examples
Projucer/docs
Projucer/extras